
.main {
background-color: $main-gray;
.container-fluid {
	
	color: $white;
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	font-weight: 200;
	height: 100vh;
	padding: 21px 16px;
	position: relative;
	text-align: center;

	p {
		margin-bottom: 16px;
	}

	.main-button {
		left: 16px;
		position: absolute;
		top: 21px;
		i {
			font-size: 21px;
		}
	}
}


	h2 {
		color: $white;
		font-weight: 200;
		margin: 0 0 5% 0;
		text-align: center;
	}

	.temperatures {
		margin: 0 auto;
		max-width: 295px;
		position: relative;
	}

	.temperature-main {
		font-size: 10rem;
		font-weight: 200;
		margin: 0 0 5% 0;
		text-align: center;
	}

	.temperature-night {
		position: absolute;
		right: 0;
		text-align: center;
		top: 50%;

		p {
			font-size: 12px;
			margin: 0;
		}

		.temperature {
			font-size: 18px;
		}
	}

	.temperature-icon {
		font-size: 100px;
	}

	.more-information {
		bottom: 21px;
		left: 0;
		position: absolute;
		width: 100%;
		>div {
			float: left;
			width: 33.33333%;
		}

		i {
			font-size: 21px;
		}
	}
}
