@font-face {
  font-family: "wheater-font";
  src: url('../../assets/fonts/icons/wheater-font.eot');
  src: url('../../assets/fonts/icons/wheater-font.eot?#iefix') format('eot'),
    url('../../assets/fonts/icons/wheater-font.woff2') format('woff2'),
    url('../../assets/fonts/icons/wheater-font.woff') format('woff'),
    url('../../assets/fonts/icons/wheater-font.ttf') format('truetype'),
    url('../../assets/fonts/icons/wheater-font.svg#wheater-font') format('svg');
}

@mixin icon-styles {
  font-family: "wheater-font";
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  // speak: none; // only necessary if not using the private unicode range (firstGlyph option)
  text-decoration: none;
  text-transform: none;
}

%icon {
  @include icon-styles;
}

@function icon-char($filename) {
  $char: "";

  @if $filename == notification {
    $char: "\E001";
  }
  @if $filename == rainny {
    $char: "\E002";
  }
  @if $filename == sunny {
    $char: "\E003";
  }
  @if $filename == up {
    $char: "\E004";
  }

  @return $char;
}

@mixin icon($filename, $insert: before, $extend: true) {
  &:#{$insert} {
    @if $extend {
      @extend %icon;
    } @else {
      @include icon-styles;
    }
    content: icon-char($filename);
  }
}

.icon-notification {
  @include icon(notification);
}
.icon-rainny {
  @include icon(rainny);
}
.icon-sunny {
  @include icon(sunny);
}
.icon-up {
  @include icon(up);
}
