@font-face {
  font-family: "wheater-font";
  src: url('../../assets/fonts/icons/wheater-font.eot');
  src: url('../../assets/fonts/icons/wheater-font.eot?#iefix') format('eot'),
    url('../../assets/fonts/icons/wheater-font.woff2') format('woff2'),
    url('../../assets/fonts/icons/wheater-font.woff') format('woff'),
    url('../../assets/fonts/icons/wheater-font.ttf') format('truetype'),
    url('../../assets/fonts/icons/wheater-font.svg#wheater-font') format('svg');
}

@mixin icon-styles {
  font-family: "wheater-font";
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  // speak: none; // only necessary if not using the private unicode range (firstGlyph option)
  text-decoration: none;
  text-transform: none;
}

%icon {
  @include icon-styles;
}

@function icon-char($filename) {
  $char: "";

  @if $filename == 01d {
    $char: "\E001";
  }
  @if $filename == 02d {
    $char: "\E002";
  }
  @if $filename == 03d {
    $char: "\E003";
  }
  @if $filename == 04d {
    $char: "\E004";
  }
  @if $filename == 09d {
    $char: "\E005";
  }
  @if $filename == 10d {
    $char: "\E006";
  }
  @if $filename == 11d {
    $char: "\E007";
  }
  @if $filename == 13d {
    $char: "\E008";
  }
  @if $filename == 50d {
    $char: "\E009";
  }
  @if $filename == notification {
    $char: "\E00A";
  }
  @if $filename == rainny {
    $char: "\E00B";
  }
  @if $filename == sunny {
    $char: "\E00C";
  }
  @if $filename == up {
    $char: "\E00D";
  }

  @return $char;
}

@mixin icon($filename, $insert: before, $extend: true) {
  &:#{$insert} {
    @if $extend {
      @extend %icon;
    } @else {
      @include icon-styles;
    }
    content: icon-char($filename);
  }
}

.icon-01d {
  @include icon(01d);
}
.icon-02d {
  @include icon(02d);
}
.icon-03d {
  @include icon(03d);
}
.icon-04d {
  @include icon(04d);
}
.icon-09d {
  @include icon(09d);
}
.icon-10d {
  @include icon(10d);
}
.icon-11d {
  @include icon(11d);
}
.icon-13d {
  @include icon(13d);
}
.icon-50d {
  @include icon(50d);
}
.icon-notification {
  @include icon(notification);
}
.icon-rainny {
  @include icon(rainny);
}
.icon-sunny {
  @include icon(sunny);
}
.icon-up {
  @include icon(up);
}
