<div class="settings">
<div class="container-fluid">
    <div class="row header">

      <div class="icon-left">
      <i class="fa fa-angle-left" ui-sref="main" ></i>
      </div>

      <i class="fa fa-cog center"></i>

      <div class="icon-rigth">
        <label ng-click="settings.temp('c')" ng-class="{lightfont: !settings.config.unitColor}">C</label>
        <label ng-click="settings.temp('f')" ng-class="{lightfont: settings.config.unitColor}">F</label>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12">
        <h2 class="text-center">Your location</h2>
        <div class="col-xs-10">
          <input class="input-text" type="text" ng-model="settings.config.location" >
        </div>
        <div class="col-xs-2 location" ng-click="settings.getLocation()">
          <i class="fa fa-location-arrow"></i>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12">
        <button ng-click="settings.setValues()" class="col-xs-offset-5 col-xs-2 btn btn-primary" ui-sref="main">SET</button>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-8">
        <p class="input-text">Notification</p>
      </div>
      <div class="col-xs-4">
        <label class="switch-light" onclick="">
          <input type="checkbox" ng-model="settings.notification">
          <span class="well">
            <span>Off</span>
            <span>On</span>
            <a class="btn btn-primary"></a>
          </span>
        </label>
      </div>
    </div>

    <div class="row time" ng-if="settings.notification">
      <input type="time" ng-model="settings.time">
    </div>


    <div class="row" ng-if="settings.notification">
      <div class="col-xs-3 text-center vcenter">
        <i class="fa fa-info-circle"></i>
      </div>
      <div class="col-xs-9 notification vcenter">
        <p>Every day at the appointed time you will receive notification about the weather on your lock screen</p>
      </div>
    </div>
  </div>
</div>
